body, html {
	margin: 0;
	min-height: 100%;
	height: 100%;
	width: 100vw;
  font-family: 'Lato', sans-serif !important;
  font-size: 100% !important;

}

.container {
	width: 100vw;
	height: 100vh;
}

/* Theme - CUEK 
Mighty slate:         #556270
Pacifica:             #4ECDC4
Apple chic:           #C7F464
Cheery pink:          #FF6B6B
Grandma´s pillow:     #C44D58
*/

@import 'general/board';
@import 'general/entity';
@import 'general/boardcontrol';
@import '../lib/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../lib/font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import 'overrides';