.board {
	width: 100vw;
	height: 100vh;
	background: #ffffff;
background: #ffffff;
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f1f1f1 100%);
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f1f1f1 100%);
background: radial-gradient(ellipse at center,  #ffffff 0%,#f1f1f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=1 );

  &-header {
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #4ECDC4;
    z-index: 1000;
    text-align: center;
    padding: 0;

    .board-title {
    text-align: center;
    display: inline-block;
    color: #fff;
    position: absolute;
    line-height: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    letter-spacing: 0.035em;
    }

    .board-toolbar {
    display: inline-block;
    float: left;
    
      .button {
        padding: 0 20px;
        height: 60px;
        float: left;
      }
    }
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    border: 0 none;
    cursor: pointer !important;
    background: none;
    color: #fff;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;

    i {
      margin-right: 8px;
    }

    &:hover {
      background: rgba(255,255,255,.4);
    }
  }
}
