.board {
	width: 100vw;
	height: 100vh;
	
	.board-title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 32px;
		background-color: #ddd;
		font-size: 18px;
		font-weight: 600;
		line-height: 32px;
		text-align: center;
	}
}