.board-entity {
	position: absolute;
	box-shadow: 0px 10px 15px -12px rgba(0, 0, 0, 0.33);
	background-color: #fff;
	overflow: hidden;

	.entity-body {
		position: absolute;
		top: 40px;
		left: 15px;
		right: 15px;
		bottom: 50px;
		overflow: hidden;
		z-index: 1;

		.item-list {
			border-top: 1px solid #ccc;
			text-align: center;
			padding: 8px 0;
		
			&:first-child {
				border: 0 none;
			}
		}
	}

	.entity-title {
		position: absolute;
		top: 0px;
		height: 36px;
		font-size: 14px;
		left: 0px;
		right: 0px;
		background-color: #4ECDC4;
		text-align: center;
		color: #fff;
		line-height: 36px;
		font-weight: 700;
		letter-spacing: 0.035em;
	}

	.resize-handle {
		display: none;
		width: 16px;
		height: 16px;
		position: absolute;
		right: 16px;
		bottom: 18px;
		cursor: nwse-resize;
		z-index: 999;
	}

	.entity-control {
		position: absolute;
		display: block;
		bottom: -46px;
		right: 0px;
		left: 0;
		height: 46px;
		background-color: #FF6B6B;
		z-index: 2;
		text-align: center;
		-webkit-transition: all .35s cubic-bezier(.79,.2,.13,.92);
		transition: all .35s cubic-bezier(.79,.2,.13,.92);

		.button {
			border: 0 none;
			background-color: none;
			width: 46px;
			height: 46px;
			font-size: 22px;
			display: inline-block;
			text-align: center;
			padding: 0;
			line-height: 44px;

			i {
			margin: 0;
			}

			&:hover {
			}
		}
	}

	&:hover {
		.entity-control {
			display: block;
			bottom: 0;
		}

		.resize-handle {
			display: block;
		}
	}
}